# Compiled files
*.tfstate
*.tfstate.backup
terraform.tfplan
terraform.tfstate
.terraform/
.vagrant/
# temporary files
*.log
*.bak
*~
.*.swp
# statefiles/ -- is difficult to store them in SCM,
# better configure terraform remote state storage
statefiles/
